/* Sass Document */

#site-title {
	padding-top: 27px;
}

.admin-menu #overlay-container {
	margin-top: 15px;
}

.admin-menu-with-shortcuts #overlay-container {
	margin-top: 50px;
}

#block-feedback-form {
	h2 {
		margin: 0;	
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.feedback-link {
		padding: 5px 15px;
		border-radius: 3px;
		border: solid #000000 2px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,c00000+44,b70000+100 */
		background: #cc0000; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #cc0000 0%, #c00000 44%, #b70000 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cc0000), color-stop(44%,#c00000), color-stop(100%,#b70000)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #cc0000 0%,#c00000 44%,#b70000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #cc0000 0%,#c00000 44%,#b70000 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #cc0000 0%,#c00000 44%,#b70000 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #cc0000 0%,#c00000 44%,#b70000 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#b70000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	}
}