# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore files that came from PHPStorm
.idea/*

.idea/codeStyleSettings.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/workspace.xml