# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.idea/libraries/compass_library.xml
.idea/codeStyleSettings.xml
*.iml
.idea/misc.xml
.idea/dev-arupconsult.iml
.idea/misc.xml