@media all and (min-width: 320px) {
  #content {
    .wrapper {
      border-bottom: 1px gray solid;
    }
  }
  #footer {
    .wrapper {
      .footer-block {
        width: 100%;
        .block {
          padding: 2%;
        }
      }
    }
  }

}

@media all and (min-width: 480px) {
  #footer {
    .wrapper {
      .footer-block {
        width: 49%;
        .block {
        }
      }
    }
  }
}