@media all and (min-width: 600px) {
  #block-block-7 .content #second-para {
    padding-top: 25px;
  }
}

@media all and (min-width: 768px) {
  #content {
    #disease-page-title {
      float: left;
    }
    #primary-author {
      float: right;
      margin-top: 25px;
    }
    .tabs, #main-content {
      clear: both;
    }
  }
  .logged-in.admin-menu {
    #content {
      #primary-author {
        margin-top: 25px;
      }
    }
  }
}