/***********************************************
	file: base.scss
	Author: Ben Hall
***********************************************/
/* Global Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, em, img, q, small, strike, strong, sub, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
  border: 0; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left; }

#content, #sidebar-first, #sidebar-second, #navigation, #footer, #header, .wrapper {
  display: block; }

#footer-first, #footer-second, #footer-third, #footer-fourth {
  display: inline-block; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto; }

/* Table details */
table {
  clear: both;
  border-collapse: collapse;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  line-height: 1.5em;
  width: 100%; }

table th {
  background: #e6f0fa;
  border: 1px solid #ccc;
  border-bottom: 2px solid #999;
  font-weight: bold;
  padding: 5px 7px 5px 7px; }

table td {
  padding: 5px 7px 5px 7px;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd; }

table p {
  margin: 0; }

/* General */
a {
  color: #0057B8;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    color: #aa1e1e; }
  a:active {
    color: #555; }

hr {
  clear: both;
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 5px 0px 5px 0px; }

p {
  line-height: 1.5em;
  margin: 10px 0px 15px 0px; }

blockquote {
  line-height: 1.5em;
  quotes: none; }

ol, ul {
  list-style: none;
  line-height: 1.5em; }

pre, code {
  font: 1em "Courier New", Courier, mono; }

abbr, acronym {
  border-bottom: 1px dotted #aaa; }

ins {
  padding: 1px;
  background-color: #fffadc;
  text-decoration: none; }

/* HTML */
html {
  overflow-y: scroll; }
  html body {
    color: #111;
    font: 77% Arial, Helvetica, sans-serif;
    margin: auto; }
    html body.admin-menu {
      margin-top: 30px !important; }
    html body.admin-menu-with-shortcuts {
      margin-top: 66px !important; }
    html body #page #content p a {
      font-weight: bold; }
    html body #page #content .title {
      margin-left: 15px; }
    html body #page #content #main-content {
      line-height: 1.5em; }

.node-disease-topic .field-name-field-author {
  display: none; }

#group-tab-group-node-disease-topic-default .resp-tabs-list li {
  background: #eee url(../images/tabs.gif) 0px 0px repeat-x;
  border: 1px solid #ccc;
  color: #333;
  font-weight: bold;
  height: 20px;
  padding: 4px 9px 3px 9px;
  outline: none;
  text-decoration: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px; }
  #group-tab-group-node-disease-topic-default .resp-tabs-list li.resp-tab-active {
    background: #fff;
    color: #aa1e1e;
    padding: 4px 9px 3px 9px !important;
    border-bottom: 2px white solid; }

#content.one-sidebar #main-content {
  max-width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 15px; }
#content.one-sidebar #sidebar-second {
  max-width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 15px; }
#content.no-sidebars #main-content {
  max-width: 95%;
  margin: auto;
  padding-bottom: 15px; }

.front #page-title {
  display: none; }
.front #first-time {
  display: none; }

#block-block-7 img {
  float: left;
  padding: 5px; }
#block-block-7 #second-para {
  padding-top: 15px; }

#last-updated {
  float: right; }

#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+0,464646+18,464646+100 */
  background: #424242;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #424242 0%, #464646 18%, #464646 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #424242), color-stop(18%, #464646), color-stop(100%, #464646));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #424242 0%, #464646 18%, #464646 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #424242 0%, #464646 18%, #464646 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #424242 0%, #464646 18%, #464646 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #424242 0%, #464646 18%, #464646 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#464646',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  #header .wrapper #logo {
    float: left; }
    #header .wrapper #logo img {
      margin: 20px 10px; }
  #header .wrapper #site-name {
    margin: 25px 10px;
    color: white;
    float: left; }

#navigation {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#285780+0,285780+100 */
  background: #285780;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #285780 0%, #285780 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #285780), color-stop(100%, #285780));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #285780 0%, #285780 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #285780 0%, #285780 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #285780 0%, #285780 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #285780 0%, #285780 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#285780', endColorstr='#285780',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-top: 3px solid #3e6991;
  padding-top: 3px;
  padding-bottom: 5px; }
  #navigation #primary-nav ul {
    margin: 0; }
    #navigation #primary-nav ul li {
      display: inline-block; }
      #navigation #primary-nav ul li a {
        font-size: 12px;
        color: white; }

body {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; }

h1 {
  color: #aa1e1e;
  font-size: 1.9rem;
  margin: 15px 0 15px 0; }

h2 {
  color: #333;
  font-size: 1.5rem;
  margin: 10px 0 10px 0; }

h3 {
  color: #333;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 10px 0 10px 0; }

h4 {
  color: #aa1e1e;
  font-size: 1.25rem;
  margin: 10px 0 10px 0; }

h5 {
  color: #111;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 0 10px 0; }

#footer {
  font-size: .9em;
  margin: auto;
  padding-top: 5px;
  max-width: 950px; }
  #footer .wrapper .footer-block {
    text-align: center; }

#copyright p.copyright {
  font-size: .9em;
  text-align: center; }

/*# sourceMappingURL=base.css.map */
