/* Global Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, em, img, q, small, strike, strong, sub, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
}
:focus {
  outline:0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline:0;
  border:0;
}
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
}


#content, #sidebar-first, #sidebar-second, #navigation, #footer, #header, .wrapper {
  display: block;
}

#footer-first, #footer-second, #footer-third, #footer-fourth {
  display: inline-block;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* Table details */
table{
  clear:both;
  border-collapse:collapse;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  line-height:1.5em;
  width:100%;
}

table th{
  background:#e6f0fa;
  border:1px solid #ccc;
  border-bottom:2px solid #999;
  font-weight:bold;
  padding:5px 7px 5px 7px;
}
table td{
  padding:5px 7px 5px 7px;
  vertical-align:top;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
}

table p {
  margin: 0;
}

/* General */

a {
  color:#0057B8;
  cursor:pointer;
  text-decoration:none;
  &:hover {
    color: #aa1e1e;
  }
  &:active {
    color: #555;
  }
}
hr {
  clear:both;
  border:0;
  color:#ccc;
  background-color:#ccc;
  height:1px;
  margin:5px 0px 5px 0px;
}
p {
  line-height:1.5em;
  margin:10px 0px 15px 0px;
}
blockquote {
  line-height:1.5em;
  quotes:none;
}
ol, ul {
  list-style:none;
  line-height:1.5em;
}
pre, code {
  font:1em "Courier New", Courier, mono;
}
abbr, acronym {
  border-bottom:1px dotted #aaa;
}
ins {
  padding:1px;
  background-color:#fffadc;
  text-decoration:none;
}

/* HTML */

html {
  overflow-y:scroll;
  body {
    color:#111;
    font: 77% Arial, Helvetica, sans-serif;
    margin: auto;
    &.admin-menu {
      margin-top: 30px !important;
    }
    &.admin-menu-with-shortcuts {
      margin-top: 66px !important;
    }
    #page {
      #content {
        p {
          a{
            font-weight: bold;
          }
        }
        .title {
          margin-left: 15px;
        }
        #main-content {
          line-height:1.5em;
        }
      }
    }
  }
}

.node-disease-topic {
  .field-name-field-author {
    display: none;
  }
}

#group-tab-group-node-disease-topic-default {
  .resp-tabs-list li {
    background: #eee url(../images/tabs.gif) 0px 0px repeat-x;
    border: 1px solid #ccc;
    color: #333;
    font-weight: bold;
    height: 20px;
    padding: 4px 9px 3px 9px;
    outline: none;
    text-decoration: none;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    &.resp-tab-active {
      background: #fff;
      color: #aa1e1e;
      padding: 4px 9px 3px 9px !important;
      border-bottom: 2px white solid;
    }
  }
}

#content {
  .wrapper {

  }
  &.two-sidebars {

  }

  &.one-sidebar {

    #main-content {
      max-width: 95%;
      margin-left: 2%;
      margin-right: 2%;
      padding-bottom: 15px;
    }
    #sidebar-second {
      max-width: 95%;
      margin-left: 2%;
      margin-right: 2%;
      padding-bottom: 15px;
    }
  }

  &.no-sidebars {
    #main-content {
      max-width: 95%;
      margin: auto;
      padding-bottom: 15px;
    }
  }
}

.front {
  #page-title {
    display: none;
  }
  #first-time {
    display: none;
  }
}

#block-block-7 {
  img {
    float: left;
    padding: 5px;
  }
  #second-para {
    padding-top: 15px;
  }
}

#last-updated {
  float: right;
}