html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, em, img, q, small, strike, strong, sub, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
}

#content, #sidebar-first, #sidebar-second, #navigation, #footer, #header, .wrapper {
  display: block;
}

#footer-first, #footer-second, #footer-third, #footer-fourth {
  display: inline-block;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

html {
  font-family: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  body {
    margin: auto;
    &.admin-menu {
      margin-top: 30px !important;
    }
    &.admin-menu-with-shortcuts {
      margin-top: 66px !important;
    }
    #page {
      #content {
        .title {
          margin-left: 15px;
        }
      }
    }
  }
}

.node-disease-topic {
  .field-name-field-author {
    display: none;
  }
}

#group-tab-group-node-disease-topic-default {
  .resp-tabs-list li {
    background: #eee url(../images/tabs.gif) 0px 0px repeat-x;
    border: 1px solid #ccc;
    color: #333;
    font-weight: bold;
    height: 20px;
    padding: 4px 20px 3px 20px;
    outline: none;
    text-decoration: none;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    &.resp-tab-active {
      background: #fff;
      color: #aa1e1e;
      padding: 4px 20px 3px 20px !important;
      border-bottom: 2px white solid;
    }
  }
}

#content {
  .wrapper {
    clear: both;
    height: auto;
  }
  &.two-sidebars {

  }

  &.one-sidebar {

    #main-content {
      float: left;
      max-width: 75%;
      margin-left: 2%;
      margin-right: 1%;
      padding:2% 0 1% 0px;
    }
    #sidebar-second {
      float:right;
      padding:2% 1% 1% 0px;
      width:20%;
    }
  }

  &.no-sidebars {
    #main-content {
      max-width: 95%;
      margin: auto;
    }
  }
}
